body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#forca-container {
    margin: 20px 0;
}

#palavra {
    font-size: 24px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

#entrada {
    margin: 20px 0;
}

#letra {
    font-size: 18px;
    padding: 5px;
    width: 50px;
    text-align: center;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#tentativas {
    font-size: 18px;
    font-weight: bold;
}

#mensagem {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
